apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: webapp
  name: webapp
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp-demo
        image: docker.io/muhammadfasil/webapp-demo:replaceImageTag
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: docker-secret 
